@use "variables" as v;

.display-categories {
  width: 100%;

  &__data-view {
    width: 100%;

    ::ng-deep .p-dataview-content {
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-md;
  }

  &__empty {
    padding: v.$spacing-xl;
    border-radius: 1rem;
    border: 1px dashed var(--p-surface-400);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-sm;
    align-items: center;
    justify-content: center;
  }

  &__empty-title {
    font-weight: 600;
  }

  &__empty-text {
    margin: 0;
    color: var(--p-text-color-secondary);
  }
}
