@use "variables" as v;

:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: v.$navbar-width;
}

::ng-deep {
  .p-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .p-menu-start {
    margin-bottom: v.$spacing-md;
  }
  .p-menu-list {
    flex-grow: 1;
  }

  .p-menu-end {
    padding: v.$spacing-sm;
  }

  .p-button {
    width: 100%;
  }
}

.navbar {
  &__menu {
    display: flex;
    flex-direction: column;
  }
  &__start {
    flex-grow: 1;
  }
  &__logo {
    text-align: center;
    font-size: v.$font-size-xxl;
  }
}
