@use "variables" as v;

.p-inputtext,
.p-textarea,
.p-button,
.p-colorpicker,
.p-colorpicker-preview {
  width: 100%;
}
::ng-deep {
  .p-colorpicker-preview {
    width: 100%;
  }
}
.p-button {
  margin-top: v.$spacing-sm;
}
